<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias | TOMÉDELUXE</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <nav class="navbar">
        <div class="nav-logo">TOMÉ<span style="color: #3B82F6;">DELUXE</span></div>
        <div class="nav-links">
            <a href="/">Dashboard</a>
            <a href="/categorias" style="color: var(--primary-blue); font-weight: 700;">Categorias</a>
            <a href="/produtos">Produtos</a>
        </div>
    </nav>

    <main>
        <header class="hero">
            <h1>Gestão de <span>Categorias</span></h1>
            <p>Estruture sua loja definindo as classificações dos seus produtos para um controle preciso.</p>
        </header>

        <!--seção cadastrar categorias-->
        <div class="container" style="display: grid; grid-template-columns: 1fr 1.8fr; align-items: start; gap: 40px;">
            <section class="card" id="secao-cadastro">
                <div id="bloco-botao" style="text-align: center; padding: 20px 0;">
                    <i class="fa-solid fa-folder-plus"
                        style="font-size: 3rem; color: var(--accent-blue); margin-bottom: 20px;"></i>
                    <h3>Nova Categoria</h3>
                    <p style="font-size: 0.85rem; color: #64748B; margin-bottom: 25px;">
                        Clique abaixo para adicionar uma nova categoria de produtos.
                    </p>
                    <button type="button" class="btn btn-main" onclick="mostrarFormulario()"
                        style="width: 100%; justify-content: center;">
                        <i class="fa-solid fa-plus" style="margin-right: 8px; color: white;"></i> Cadastrar Categoria
                    </button>
                </div>

                <div id="bloco-formulario" style="display: none;">
                    <div
                        style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                        <h3 style="margin: 0;">Nova Categoria</h3>
                        <button onclick="esconderFormulario()"
                            style="background: none; border: none; color: #94A3B8; cursor: pointer;">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>

                    <form action="/categorias" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome da Categoria</label>
                            <input type="text" id="nome" name="nome" placeholder="Ex: Vestuário" required>
                        </div>
                        <div class="form-group" style="margin-top: 10px; ">
                            <label for="descricao">Descrição</label>
                            <input type="text" id="descricao" name="descricao"
                                placeholder="Ex: Roupas masculinas e femininas" required>
                        </div>
                        <button type="submit" class="btn btn-main"
                            style="width: 100%; justify-content: center; margin-top: 20px; font-size: 15px;">
                            Finalizar Cadastro
                        </button>
                        <button type="button" onclick="esconderFormulario()" class="btn"
                            style="width: 100%; justify-content: center; background: #f1f5f9; color: #64748b; margin-top: 10px;">
                            Cancelar
                        </button>
                    </form>
                </div>
            </section>

            <!--seção categorias-->
            <section class="data-table-container">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                    <h3 style="margin: 0; font-size: 1.2rem; color: var(--dark-bg);">Categorias Ativas</h3>
                    <span
                        style="background: #E0F2FE; color: #0369A1; padding: 4px 12px; border-radius: 20px; font-size: 0.75rem; font-weight: 700;">
                        {{ categorias|length }} TOTAL
                    </span>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome da Seção</th>
                            <th style="text-align: right;">Gerenciar</th>
                        </tr>
                    </thead>
                    <!--CATEGORIAS-->
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td style="font-family: monospace; color: #94A3B8;">#{{ "%03d"|format(categoria.id) }}</td>
                            <td style="font-weight: 600; color: var(--dark-bg);">{{ categoria.nome }}</td>
                            <td style="color: #64748B; font-size: 0.85rem;">{{ categoria.descricao }}</td>
                            <!--BOTÕES EDITAR/EXCLUIR-->
                            <td style="text-align: right; min-width: 150px;">
                                <div id="acoes-normais-{{ categoria.id }}"
                                    style="display: flex; justify-content: flex-end; align-items: center;">
                                    <a href="#" title="Editar"
                                        style="color: #64748B; margin-right: 18px; transition: 0.3s; text-decoration: none;">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button type="button" onclick="pedirConfirmacao('{{ categoria.id }}')" title="Excluir"
                                        style="background: none; border: none; color: #EF4444; cursor: pointer; padding: 0;">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>

                                <div id="confirmacao-{{ categoria.id }}"
                                    style="display: none; justify-content: flex-end; align-items: center; gap: 8px;">
                                    <span
                                        style="font-size: 0.75rem; color: #EF4444; font-weight: 600; margin-right: 5px;">Excluir?</span>

                                    <form action="/categorias/{{ categoria.id }}/deletar" method="POST"
                                        style="margin: 0;">
                                        <button type="submit"
                                            style="background: #EF4444; color: white; border: none; padding: 4px 10px; border-radius: 6px; font-size: 0.7rem; cursor: pointer; font-weight: 600;">
                                            Sim
                                        </button>
                                    </form>

                                    <button type="button" onclick="cancelarExclusao('{{ categoria.id }}')"
                                        style="background: #F1F5F9; color: #64748B; border: none; padding: 4px 10px; border-radius: 6px; font-size: 0.7rem; cursor: pointer; font-weight: 600;">
                                        Não
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <!--CASO NÃO TENHA CATEGORIA-->
                        {% else %}
                        <tr>
                            <td colspan="3" style="text-align: center; padding: 5rem 0;">
                                <i class="fa-solid fa-inbox"
                                    style="font-size: 2.5rem; color: #CBD5E1; margin-bottom: 15px; display: block;"></i>
                                <span style="color: #94A3B8;">Nenhuma categoria encontrada no banco de dados.</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>
<!--rodapé-->
    <footer>
        <div style="margin-bottom: 10px;">
            <i class="fa-solid fa-shield-halved" style="color: var(--accent-blue);"></i>
        </div>
        &copy; 2026 TOMÉDELUXE — AMBIENTE ADMINISTRATIVO SEGURO
    </footer>
    <script src="./static/scripts.js"></script>

</body>

</html>